

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.formContainer {
    overflow-y: scroll;
    max-height: 650px;
}

.formInput {
    width: 80%;
}